<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel ="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>
    <!-- ui 재사용 -->

    <!-- <%= JSON.stringify(글목록) %> -->
<div class="white-bg">
    <% for ( let i =0; i < 글목록.length; i++) { %>
    <div class="list-box">
    <h4>
        <a href="/detail/<%= 글목록[i]._id %>"><%= 글목록[i].title %></a>
        <a href="/edit/<%= 글목록[i]._id %>">수정 버튼</a>
    </h4>    <!-- 서버사이드 렌더링 -->
    <p>글내용임</p>
  </div>
    <% } %>
  
</div> 
    
</body>
</html>

<!-- ejs파일 html과 비슷한데 서버데이터를 집어넣을 수 있다 -->